// colors
$red: #ed1d24;
$blue: #045474;
$black: #444;

// white spaces
$between-sections-margin: 100px;
$between-h2-p-margin: 15px;
$between-h4-p-margin: 8px;
$main-p-line-height: 1.7; // the p after h2 in every section
$between-big-items-vertical: 30px; // like posts and features

// font-sizes
$h2-big: 50px; // used when the section takes full width
$h2-small: 32px; // used if the section is split into 2 side and the text in one side
$p-base: 16px;
