doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		link(rel="icon" href="imgs/favicon.png")
		title EliteCorp
		link(rel="stylesheet" href="./css/style.css")
	body 

		include ./sections/upperbar
		include ./sections/navbar
		include ./sections/hero
		include ./sections/features
		include ./sections/overview
		include ./sections/featured-work
		include ./sections/latest-posts
		include ./sections/testimonials
		include ./sections/pricing
		include ./sections/why-us
		include ./sections/stats
		include ./sections/contact-us
		include ./sections/footer
		include ./sections/copyright-bar
		include ./sections/goup

		script(src="./js/main.js") 
		script(src="http://localhost:35729/livereload.js") 
















