.stats {
    color: #045474;
    margin: 100px auto;
    .stat {
        margin-bottom: 40px;
    }
    span {
        display: block;
        &:first-of-type {
            font-size: 45px;
            font-weight: 700;
        }
        &:last-of-type {
            font-weight: 500;
            color: #ee1c25;
        }
    }
}
