.testimonials {
    background: url("../imgs/testimonials/testimonail.jpg");
    position: relative;
    background-size: cover;
    height: 500px;
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        background: rgba(0, 0, 0, 0.5);
    }
    .carousel {
        height: 100%;
        position: relative;
        z-index: 4;
        .carousel-inner {
            height: 100%;
        }
        .carousel-item {
            height: 100%;
            img {
                border-radius: 100%;
                width: 150px;
                height: 150px;
            }
        }
        .carousel-caption {
            top: 15%;
            h3 {
                margin-bottom: 1px;
            }
            p {
                margin-top: 15px;
            }
        }
    }
}
