.contact.py-5.wow.fadeInDown(data-wow-offset='100' data-wow-duration='1.5s')
	.container
		.row
			.col-md-6.col-xl-12.text-center.text-sm-left.px-0.wow.bounceInLeft(data-wow-duration='1s' data-wow-delay='.5s')
				p.text-white You think we are cool? ,, Let&apos;s Work Together
			.col-md-6.text-center.text-sm-right.col-xl-12.wow.bounceInRight(data-wow-duration='1s' data-wow-delay='.5s' style='margin-top:20px')
				a(href='#') Contact Us
