.copyright.wow.fadeInDown(data-duration='1s')
	.container
		.row
			.left.text-center.text-lg-left.col-lg-9.wow.bounceInLeft(data-wow-delay='.5s' data-wow-duration='1s') COPYRIGHT 2017 ELITECORP &copy; ALL RIGHT RESERVED (MY)
			.right.text-center.text-lg-right.col-lg-3.wow.bounceInRight(data-wow-delay='.5s' data-wow-duration='1s')
				a(href='#')
					i.fab.f.fa-facebook-f
				a(href='#')
					i.fab.y.fa-youtube
				a(href='#')
					i.fab.t.fa-twitter
				a(href='#')
					i.fab.g.fa-google-plus-g
