section.latest-posts.text-center
	.container
		h2.wow.bounceInDown(data-wow-duration='.8s' data-wow-offset='100') Latest Posts
		p.wow.bounceInDown(data-wow-duration='.8s' data-wow-offset='100')
			| Lorem Ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups Lorem Ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups
	.container.text-left
		.row
			.card.col-sm-6.col-lg-3.wow.fadeInLeftBig(data-wow-duration='1s' data-wow-delay='0')
				a(href='#')
					img.card-img-top(alt='pic' src='imgs/latest/latest1.jpg')
				.card-body
					h4.card-title Lorem Ipsum is placeholder text commonly used as text example
					.card-subtitle June 26,2017
					p.card-text Lorem Ipsum is placeholder text commonly used in the graphic, print, and publishing industries Lorem Ipsum is placeholder text commonly used in the graphic, print, and publishing industries
					a.card-link(href='#') Read More
			.card.col-sm-6.col-lg-3.wow.fadeInLeftBig(data-wow-duration='1s' data-wow-delay='.5s')
				a(href='#')
					img.card-img-top(alt='pic' src='imgs/latest/latest2.jpg')
				.card-body
					h4.card-title Lorem Ipsum is placeholder text commonly used as text example
					.card-subtitle June 26,2017
					p.card-text Lorem Ipsum is placeholder text commonly used in the graphic, print, and publishing industries Lorem Ipsum is placeholder text commonly used in the graphic, print, and publishing industries
					a.card-link(href='#') Read More
			.card.col-sm-6.col-lg-3.wow.fadeInLeftBig(data-wow-duration='1s' data-wow-delay='1s')
				a(href='#')
					img.card-img-top(alt='pic' src='imgs/latest/latest3.jpg')
				.card-body
					h4.card-title Lorem Ipsum is placeholder text commonly used as text example
					.card-subtitle June 26,2017
					p.card-text Lorem Ipsum is placeholder text commonly used in the graphic, print, and publishing industries Lorem Ipsum is placeholder text commonly used in the graphic, print, and publishing industries
					a.card-link(href='#') Read More
			.card.col-sm-6.col-lg-3.wow.fadeInLeftBig(data-wow-duration='1s' data-wow-delay='1.5s')
				a(href='#')
					img.card-img-top(alt='pic' src='imgs/latest/latest4.png')
				.card-body
					h4.card-title Lorem Ipsum is placeholder text commonly used as text example
					.card-subtitle June 26,2017
					p.card-text Lorem Ipsum is placeholder text commonly used in the graphic, print, and publishing industries Lorem Ipsum is placeholder text commonly used in the graphic, print, and publishing industries
					a.card-link(href='#') Read More
