nav.navbar.navbar-expand-lg.navbar-light.wow.slideInRight(data-wow-duration='1s')
	.container
		a.navbar-brand(href='#')
			span.elite Elite
			span.corp Corp
		button.navbar-toggler(type='button' data-target='#collapsable' data-toggle='collapse')
			span.navbar-toggler-icon
		#collapsable.collapse.navbar-collapse.justify-content-end
			ul.navbar-nav
				li.nav-item
					a.nav-link(href='#') Home
				li.nav-item
					a.nav-link.active(href='#') About
				li.nav-item
					a.nav-link(href='#') Work
				li.nav-item
					a.nav-link(href='#') Blog
				li.nav-item
					a.nav-link(href='#') Contact
