section.overview.text-center.wow.fadeInDown(data-wow-duration='1s' data-wow-offset='400')
	.container
		h2.wow.slideInLeft(data-wow-duration='1s' data-wow-delay='.1s' data-wow-offset='250') COPMANY OVERVIEW
		p.wow.slideInLeft(data-wow-duration='1s' data-wow-delay='.1s' data-wow-offset='250') Lorem Ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups Lorem Ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups
		h5.wow.slideInRight(data-wow-offset='100' data-wow-duration='1s' data-wow-delay='.1s') Lets Start Today
		button.wow.slideInRight(data-wow-offset='100' data-wow-duration='1s' data-wow-delay='.1s') VIEW MORE
