section.pricing.text-center
    .container
        h2.wow.bounceInDown(data-wow-duration='1s') Pricing Table
        p.wow.bounceInDown(data-wow-duration='1s')
            | Lorem Ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups Lorem Ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups
        .row
            .card.col-sm-5.col-md.wow.bounceInLeft(data-wow-offset='300' data-wow-duration='1s')
                .card-body
                    h4.card-title Small Business
                    h6.card-subtitle.mb-2.text-muted Lorem ipsum
                    span.price
                        | $99/
                        span YEAR
                    ul.list-group.text-muted
                        li.list-group-item 1 Hosting
                        li.list-group-item Upto 10 users
                        li.list-group-item 3 databases
                        li.list-group-item Website builder
                        li.list-group-item Email support
                    a.card-link(href='#') BUY NOW
            .card.col-sm-5.col-md.wow.bounceInUp(data-wow-offset='300' data-wow-duration='1s')
                .card-body
                    h4.card-title Corporate
                    h6.card-subtitle.mb-2.text-muted Lorem ipsum
                    span.price2
                        | $199/
                        span YEAR
                    ul.list-group.text-muted
                        li.list-group-item 1 Hosting
                        li.list-group-item Upto 10 users
                        li.list-group-item 3 databases
                        li.list-group-item Website builder
                        li.list-group-item Email support
                    a.card-link(href='#') BUY NOW
            .card.col-sm-5.col-md.wow.bounceInRight(data-wow-offset='300' data-wow-duration='1s')
                .card-body
                    h4.card-title Interprices
                    h6.card-subtitle.mb-2.text-muted Lorem ipsum
                    span.price
                        | $299/
                        span YEAR
                    ul.list-group.text-muted
                        li.list-group-item 1 Hosting
                        li.list-group-item Upto 10 users
                        li.list-group-item 3 databases
                        li.list-group-item Website builder
                        li.list-group-item Email support
                    a.card-link(href='#') BUY NOW
