section.stats.text-center
	.container
		.row
			.stat.col-sm-6.col-md-3.wow.bounceInDown(data-wow-duration='1s')
				i.fas.fa-users.fa-5x
				span(data-from='0' data-to='627' data-speed='4000' data-refresh-interval='10')
				span Happy Clients
			.stat.col-sm-6.col-md-3.wow.bounceInDown(data-wow-duration='1s')
				i.fas.fa-heart.fa-5x
				span(data-from='0' data-to='1435' data-speed='4000' data-refresh-interval='10')
				span Amazing Tours
			.stat.col-sm-6.col-md-3.wow.bounceInDown(data-wow-duration='1s')
				i.fas.fa-briefcase.fa-5x
				span(data-from='0' data-to='102' data-speed='4000' data-refresh-interval='10')
				span Parteners
			.stat.col-sm-6.col-md-3.wow.bounceInDown(data-wow-duration='1s')
				i.fas.fa-comments.fa-5x
				span(data-from='0' data-to='10262' data-speed='4000' data-refresh-interval='10')
				span Ques. Answered
