.upper-bar.text-white.text-sm-center.wow.slideInLeft(data-wow-duration='1s' data-wow-delay='.1s')
	.container
		.row
			.col-sm-12.col-md-7.text-center.text-md-left.left
				span 
					i.fas.fa-phone
					|  1800 123 456, 
				span
					i.fas.fa-envelope
					|  info@elitecorp.com
			.col-sm-12.col-md-5.text-center.text-md-right.right
				span Lets Work Together!
				button Get Quote
