.upper-bar {
    background: #07536d;
    padding: 10px;
    button {
        padding: 0px 10px;
        background: transparent;
        color: #fff;
        border: 1px solid #ee1c25;
        margin-left: 10px;
        cursor: pointer;
        transition: 0.2s;
        // @media (max-width: 420px), (min-width: 768px) and (max-width: 992px) {
        //     margin-right: 25px;
        // }
        &:hover {
            background-color: #ee1c25;
        }
    }
    span {
        @media (max-width: 420px), (min-width: 768px) and (max-width: 992px) {
            display: block;
        }
    }
    .left,
    .right {
        @media (max-width: 768px) {
            padding-bottom: 10px;
        }
    }
}
